extends layout

block content
	div(style='margin:.15rem')
		h4 如果您是第一次订购来电管家业务，请先仔细阅读并确认使用说明：
		p 1、来电管家是北京联通为营造良好的通话环境，推出的骚扰电话防护服务。本产品承诺尊重并保护所有使用用户的个人隐私权。
		p 2、在法律允许的最大范围内，对使用或不能使用本业务所产生的损害及风险，包括但不限于直接或间接个人损害、商业盈利的丧失、贸易中断、商业信息丢失或任何其他经济损失，北京联通不承担法律责任。
		p 3、对于网络信号或互联网网络故障，手机故障或病毒、信息损坏或丢失、手机系统问题或其他不可抗力原因而产生的损失，北京联通不承担法律责任。
		p 4、该项业务于2019年2月1日-3月31日在北京地区免费开放用户体验。