extends layout

block content
	.unicom-menu
		.banner
		.list
			ul
				li
					a(href="http://eastcom.123zou.com/setting/type")
				li
					a(href="http://eastcom.123zou.com/setting/roster?type=-1")
				li
					a(href="http://eastcom.123zou.com/setting/roster?type=1")
				li
					a(href="http://eastcom.123zou.com/users/")
		.txt
			p 业务介绍
			p 1、来电管家业务是北京联通推出的一款面向用户的防骚扰产品，能够依据用户个人的接听意愿进行来电智能化管理。
			p 2、本业务目前可提供9大类骚扰电话的防护，包括疑似欺诈、骚扰电话、广告推销、违法犯罪、响一声、保险理财、房产中介、教育培训、招聘猎头。您可根据自己的意愿设置防护类型及拦截灵敏度。同时您还可以个性化设置白名单以及黑名单号码，优先级为白名单>黑名单>拦截设置。
			p 3、本业务目前仅限通过“北京联通掌上微厅”微信公众号订购，订购成功后24小时内完成开通。同时您可以通过“北京联通掌上微厅”微信公众号更改业务设置，设置成功后24小时内生效。