extends layout

block content
	.unicom-menu
		.banner
		.list
			ul
				li
					a(href="http://eastcom.123zou.com/setting/type")
				li
					a(href="http://eastcom.123zou.com/setting/roster?type=-1")
				li
					a(href="http://eastcom.123zou.com/setting/roster?type=1")
				li
					a(href="http://eastcom.123zou.com/users/")